@{
    Layout = "_AdminLayout";
}
<body>
    <div class="accounts-menu">
        <ul class="menu">
            <li>
                <input id="changePsw" type="button" value="Change Password" />
            </li>
            <li>
                <input id="changeKey" type="button" value="Change Api_Key" />
            </li>
            <li>
                <input id="changePermission" type="button" value="Change Permission" />
            </li>
        </ul>
    </div>
    <div class="accounts-content">
        <div id="passwordContent" class="change-password">
            <img class="accounts-img" src="~/images/lock.png" />
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="password-changing-form">
                    <div class="password-container">
                        <input name="CurrentPassword" type="password" placeholder="Password" class="username-input" required />
                    </div>
                    <div class="password-container">
                        <input name="NewPassword" type="password" placeholder="New Password" class="password-input" required />
                    </div>
                    <div class="password-container">
                        <input name="ConfirmedPassword" type="password" placeholder="Confirm New Password" class="password-input" required />
                    </div>
                    <div id="error" class="error-section"></div>
                    <button type="submit" class="signIn">Change Password</button>
                </div>
            }
        </div>
        <div id="apiKeyContent" class="api-key">
            <img class="accounts-img" src="~/images/key.png" />
            @using (Html.BeginForm("ChangeApiKey", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="password-changing-form">
                    <div class="password-container">
                        <input id="apiKeyReadonly" class="readonly-api-key" readonly />
                    </div>
                    <div class="password-container">
                        <input name="NewApiKey" type="text" placeholder="New Api_Key" class="password-input" autocomplete="off" required/>
                    </div>
                    <button id="chaneApiKeySubmit" type="submit" class="signIn">Change Api_Key</button>
                </div>
            }
        </div>
        <div id="permissionContent" class="change-permission">
            <img class="accounts-img" src="~/images/shield.png" />
            <div class="password-changing-form">
                <div class="search-container">
                    <input id="searchBox" name="Username" class="password-input" type="search" placeholder="Find user" autocomplete="off" />
                </div>
                <div id="results" class="results-container">
                    <a></a>
                    <a></a>
                    <a></a>
                    <a></a>
                    <a></a>
                </div>
                <div class="permission-container">
                    <input id="currentRole" name="Role" class="password-input" type="text" placeholder="Current Role" autocomplete="off" readonly />
                </div>
                <div class="permission-container">
                    <input id="newRole" name="ToRole" type="text" placeholder="New Role" class="password-input" autocomplete="off" readonly />
                </div>
                <div id="permissionLog" class="error-section"></div>
                <button id="changeUserPermission" type="submit" class="signIn">Change Permission</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var currentSubView = @ViewBag.CurrentSubView;
        var errorMessage = @Json.Serialize(ViewBag.ErrorMessage);
        var feedback = @Json.Serialize(ViewBag.Feedback);
    </script>
    <script type="text/javascript" src="../Scripts/Accounts.js"></script>
</body>